h1 {
    color: brown;
    background-color: bisque;
}

body {
    background-color: bisque;
}

.estrecho {
    max-width: 10px;
}

.wrapper-footer {
    background-color: antiquewhite;
    border-top: 1px solid darkblue;
    margin-left: 0;
    margin-right: 0;
}

.header-wrapper {
    background-color: antiquewhite;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}