* {
    box-sizing: border-box;
}

body {
    margin: 2rem;
}
fieldset {
    margin-top: 1rem;
}

div {
    margin-top: 1rem;
}

.botones {
    margin-top: 1rem;
    input, button {
        margin-left: 1rem;
    }
}

.control-group {
    display: flex;
    justify-content: space-between;
    width: 40%;
    label {
        width: 8rem;
        text-align: right;
        margin-top: 1rem;
        width: 50%;
    }
}

.perfil-group {
    display: flex;
    justify-content: space-between;
    width: 40%;
    label {
        width: 8rem;
        text-align: right;
        margin-top: 1rem;
        width: 50%;
    }
}

.textarea-group textarea
    {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

textarea
    {
    width: 20rem;
    height: 10rem;
    
}

*:required  {
    border: 2px solid red;
    color: red;
}

input[type="checkbox"] {
    color: red;
}